#content{
    width: 100%;
    background-color: rgb(173, 175, 176);
}
#content h1{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: black;
    background-color: rgb(128, 128, 130);
}
.ao{
    width: 95%;
    display: flex;
}
.ao img{
    float: left;
    height: 500px;
    width: 30%;
    border: 1px solid gray;
    margin: 10px;
}
.aokhoat{
    width: 95%;
    display: flex;
}
.aokhoat img{
    margin: 10px;
    float: left;
    height: 500px;
    width: 30%;
    border: 1px solid gray;
}
#header #icon{
    position: absolute;
    right: -45px;
    top: 2px;
    font-size: 30px;
    color: grey;
}
#header #icon:hover{
    background-color: #cfd5d5;
}
.quan{
    width: 95%;
    display: flex;
}
.quan img{
    margin: 10px;
    float: left;
    height: 500px;
    width: 30%;
    border: 1px solid gray;
}
#phongto {
transition: all 1s ease;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
}
 
#phongto:hover {
transform: scale(1,1);
-webkit-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
-o-transform: scale(1.1,1.1);
-ms-transform: scale(1.1,1.1);
}
